name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  realdeps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download Dependencies
        uses: ./
        with:
          manifest: ./examplemanifest.json
  fakedeps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download Fake Dependencies
        uses: ./
        with:
          manifest: ./missingmanifest.json